.env
.env.prod
__pycache__
migrations
venv/
nfce_bobina_corrigido.pdf
backup_mariadb.sql
backup_controle_estoque_2025-07-30.sql
pdf
tests
estoque_racoes_backup_2025-08-04.sql
script_operador2.js
backups
app/static/uploads
logs
enviar_nfe_final.py
xmls/