.env
.env.prod
__pycache__
migrations
migrations_prod
venv/
nfce_bobina_corrigido.pdf
backup_mariadb.sql
backup_controle_estoque_2025-07-30.sql
pdf
estoque_racoes_backup_2025-08-04.sql
script_operador2.js
backups
uploads
logs
enviar_nfe_final.py
xmls/
.pytest_cache